* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(56, 75, 56);
    font-size: 100px;
    font-weight: 600;
    font-weight: bold;
}

h2{
    color: rgb(56, 75, 56);
    font-family: 'EB Garamond', serif;

}


.containerInicio{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  
    font-family: 'Mynerve', cursive;

    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: auto 3fr auto;
    grid-auto-flow: row;
    grid-template-areas:
    "Header"
    "Main"
    "Footer";
}


      
.Header { 
    grid-area: Header; 
    background-color: rgb(245, 242, 242);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header img{
    width: 60px;
    border-radius: 20%;
    /*padding: 5px;
    margin: auto;
    margin-left: 30px;*/
    align-self: center;
}

.Header nav ul{ /* el ul es el padre de todos los list items*/
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem ;
    margin-right: 50px;
    
}

.Header nav ul a{
    color: rgb(56, 75, 56);
    text-decoration: none;
    font-size: 20px;
    padding: 1rem;
    font-family: 'EB Garamond', serif;

}

nav li a:hover{
    background-color: rgba(220, 221, 211, 0.726);
    color: rgb(9, 9, 9);
    border-radius: 20px;
}




.Main { 
    width: 100%;
    height: 100%;
    background-image: url(../fondos/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    grid-area: Main; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.4fr 1.2fr;
    row-gap: 5px;

    justify-content: center;
    grid-template-areas: 
    "titulo"
    "frase"
    "boton";
}  

  
.titulo { 
    grid-area: titulo; 
    justify-self: center;
    align-self: end;
}

  
.frase { 
    font-size: 17px;
    grid-area: frase; 
    align-self: center;
    justify-self: center;
}

.frase h2{
    color: rgb(56, 75, 56);
    
    font-family: 'EB Garamond', serif;
    /*font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mynerve', cursive;
    font-family: 'Rancho', cursive;*/
}
  
.boton { 
    grid-area: boton; 
    align-self:baseline;
    justify-content: center;
    align-self: baseline;
    justify-self: center;
}

.boton button{
    padding: 15px;
    background-color: none;
    border-color: rgb(56, 75, 56);
    background-color: none;
}

a:link{
    text-decoration: none;
}

.boton button a h2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    color: rgb(56, 75, 56);
}


      

/*  PARTIR DE ACA HTML DE RECETAS*/   /*PONERLE FONT A LA APGINA DE RECETAS*/
.containerRecetas {  
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.7fr 2fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Header"
      "tituloR"
      "MainR";
    justify-content: center;
  }

.tituloR { 
    margin-top: 100px;
    margin-bottom: 50px;
    grid-area: tituloR; 
    justify-self: center;
    align-self: flex-end;
    border: 2px black solid;
}

.tituloR h1{
    font-size: 50px;
    font-weight: normal;
}
  
.MainR { 
    width: 100%;
    height: 100%;
    grid-area: MainR; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    column-gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "entradas platos snacks postresydulces";
    justify-items: center;
    align-content: center;
    align-items: flex-start;
}   
  
.MainR div:not(.img){
    
    height: 350px;
    width: 250px;
    background-color: rgb(242, 238, 238);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin: 1rem;
    border: 2px grey solid;

}

.MainR img{
    height: 250px;
    width: 150px;
    display: flex;
    justify-content: center;
}


.entradas { 
    grid-area: entradas; 
}

.platos { 
    grid-area: platos; 
}
  
.snacks { 
    grid-area: snacks; 
}
  
.postresydulces { 
    grid-area: postresydulces; 
}

  
  

